* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #fefefe;
}
header{
    min-width: 100%;
    height: 90px;
    background-color: #fd061f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
    transition: height 2s;  
}
.logo{
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
}
.logo img{
    width: 60px; 
    min-height: 45px;
    padding-top: 2px;
}
.logo h1{
    font-weight: 400;
    font-size: 30px;
    font-family: "Poppins";
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color: #11101b;
    background: #fefefe;
}
.nav-texts-active {
    color: #11101b !important;
    background-color: #fefefe ;
}




/* slider */
.container-slider{
    width: 90%;
    max-width: 900px;
    margin: auto;    
    overflow: hidden;
    border: 5px solid #fd061f;
    position: relative;
    top: 150px;
}
.slider{
    display: flex;
    width: 400%; /*para mas imagenes se tiene que incrementar */
    height: 400px;
    margin-left: -100%;
}
.slider-section{
    width: 100%;
}
.slider-section img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering:optimizeSpeed;
}

.slider-button{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    padding :0;
    color :#000;
}
.slider-button:hover{
    background-color: #fff;
}
.slider-button-right{
    right: 10px;
}
.slider-button-left{
    left: 10px;
}


/* pagina informacion */
.info-intro{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.info-intro div{
    width: 50%;
    height: 100%;
    top: 80px;

}
.info-intro div img{
    width: 80%;
    margin-top: 130px;
    height: 70%;
}
.info-intro div h2{
    color: #11101b;
    margin-top: 150px;
    font-weight: 500;
    text-align: center;
    padding: 50px;
}
    
/* footer */

.footer{
    height: 120px;
    width: 100%;
}
.footer-bottom{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100px;
    max-width: 100%;
    background-color: #11101b;
    bottom: 0;
    color: #fefefe ;
    margin-top: 350px;
    height: 120px;
    border-bottom: 2px solid #fd061f;
}
    
.footer-ul{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #fefefe;
}
.footer-copyright h4{
    font-weight: 200;
}
.footer-li i{
    color: #fefefe;
    padding-left: 40px;
    font-size: 20px;
}
.footer-li a i:hover{
    color: #fd061f;
}
.footer-li i:last-child{
    color: #fefefe;
    padding: 0 20px 0 20px;
    font-size: 15px;
}

/* mas info */
.mas-informacion{
    padding: 0 5px 0 8px;
    border-top: 2px solid #fd061f;
    margin-top: 105px;
    padding-top: 30px;
}
.mas-informacion h4{
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    padding: 5px;
}


/* SECTION STICKY INICIO */

.section-sticky-container{
    display: flex;
    flex-direction: row;
    width: 200%; /*para mas imagenes se tiene que incrementar */
    height: 80vh;
    margin-left: -100%;
    flex-wrap: nowrap;
}

.sticky-item{
    display: flex;
    flex-direction: column;
    width:50% ;
    height: 100% ;
    margin: 15px;
    background-color: #efefef;
}


.sticky-item h4{
    font-size: 25px;
    font-weight: 400 ;
    text-align: center;
    color: #fd061f;
}
.sticky-item p{
    font-size: 18px;
    font-weight: 400 ;
    text-align: center;
}
.sticky-item img{
    width: 100%;
    min-height: 60%;
    object-fit: cover;
    padding-top: 20px;
}

.section-sticky-title-cont{
    width: 100%;
    max-width: 100%;   
    overflow: hidden;
    position: relative;
    top: 300px;
    bottom: 300px;
    max-height: 100vh;
}
.section-sticky-title-cont h3{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;

}
.buttons2{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    top: 65%;
    transform: translateY(-50%);
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    border : 1px solid #11101b;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    padding :0;
    color :#fd061f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons2:hover{
    background-color: #11101b;
}
.btn3{
    left: 10px;
}
.btn4{
    right: 10px;
}
/* random */
.inicio-info{
    height: 200px;
    width: 90%;
    margin: auto;
}
.inicio-info h1{
    padding-top: 100px;
    color: #11101b;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.inicio-info p{
    padding-top: 20px;
    color: #11101b;
    font-size: 20px;
    
}
.inicio-info a{
    padding-top: 5px;
    color: #fd061f;
}

.p-appear{
    font-size: 25px ;
    padding: 0 15px 0 15px;
    opacity: 0;
    margin-top: 50px;
    margin-left: 50px;
    transition: all 2.5s;
}


/* section productos */
.productos-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productos-section h2{
    color: #11101b;
    margin: auto;
    padding-top: 80px;
    font-size: 100px;
    
}   
.productos-section img{
    padding-top: 90px;
    padding-left: 10px;

}


/* contacto formulario */
.contacto-container{
    width: 100%;
    margin: auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacto-contenido{
    width: 45%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom,#fd061f , #fd4e60);
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
}
.btn{
    background-color: #fefefe;
    margin: 5px;
    border-radius: 15px;
    border: none;
    transition: background 2s;
}
.btn:hover{
    background-color: #fd4e60;
}
#sendmailbut{
    opacity: 0;
    display: none;
    height: 45px;
}
.contacto-container h3{
    padding: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}
.tag{
    font-weight: 400;
    padding: 5px 0 10px 0;
}
.label-form{
    padding:0;
    margin: 0;
}
#name, #email{
    padding: 5px;
}
#message{
    width: 100%;
    resize: none;
}
/* media querys */
@media  only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
        z-index: 1;
    }
}
@media  only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
        z-index: 1;
    }
    .slider{
        max-height: 350px;
        
    }
}
@media  only screen and (max-width: 800px){
    .hamburger{
        display: block;
        cursor: pointer;    

    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #fefefe;
        margin: 6px 0;

    }
    .nav-bar{
        height: 0px;
        position: absolute;
        top: 79px;
        left: 100%;
        right: 0;
        width: 100vw;
        background-color: #fd061f;
        transition: 0.5s;
        overflow-x: hidden;
        border-top: 1px solid #fefefe;
        border-radius: 10em;
    }
    .nav-bar.active{
        height: 450px;
        left: 0;
        border-radius: 0;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;  
        opacity: 0; 
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .slider{
        max-height: 250px;

    }
    .container-slider{
        top: 200px ;
    }
    /* info page start */
    .info-intro{
        display: flex;
        flex-direction: column;
        padding-bottom: 65px;
        border-bottom: 2px solid #fd061f;
    } 
    .info-intro div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }  
    .info-intro div h2{
        color: #11101b;
        margin-top: 50px;
        font-weight: 500;
        font-size: 20px;
    }
    .info-intro div img{
        margin: auto;
    }
    .mas-informacion{
        padding: 0 5px 0 8px;
        border: none;
    }
    .mas-informacion h4{
        font-weight: 400;
        font-size: 25px;
        text-align: center;
        padding: 5px;

    }
    .footer-bottom{
        margin: 0;
        bottom: 100px;
    }
    .sticky-item p{
        font-size: 10px;
        height: 150px;
    }
    .sticky-item h4{
        font-size: 10px;
    }
    .sticky-item img{
        object-fit: cover;
        height: 120px;
    }
    .sticky-item{
        height: fit-content;
    }
    .buttons2{
        top: 40%;
    }
    .btn3{
        left: 3px;
    }
    .btn4{
        right: 3px;
    }
    .p-appear{
        font-size: 15px;
        padding-bottom: 100px;
    }
    .productos-section h2{
        font-size: 25px;
    }
    .productos-section img{
        width: 100px;
        padding-bottom: 10px;
    }
    .contacto-contenido{
        width: 75%;
        margin-bottom: 100px;
    }
}





